{% extends 'layouts/base.html.twig' %}

{% block title 'Edit*' ~ pin.title %}


{% block body %}
    <div class ="row">
        <div class="col-md-6 mx-auto">
    
             <h1> Edit {{pin.title}} </h1>
             {{include('pins/_form.html.twig', {'submitButtonText':'Update donation'}) }}
        </div>
    </div>
   
{% endblock %}